.contents
  .content
    .header
      Constrution Matchi

    .nav-box
      .top
        = link_to "トップページに戻る", :back, class: 'btn'
      .new-user
        = link_to "新規登録", :new_user_registration, method: :get, class: 'btn'
      .login
        = link_to "ログイン", :new_user_session, method: :get, class: 'btn'
      
    .main
      %h3 ・・・・・建設業者専用マッチングアプリ・・・・・
      %p 人手が欲しい...。
      %p もっと仕事が欲しい...。
      %p そんな皆様の
      %p 需要と供給を満たします！！！